%h2
  Контакты
%ul.contacts
  %li.adress
    Санкт-Петербург ...
  %li.phone
    телефон
  %li.fax
    факс
  %li.mail
    email
%p
  It can only be used with the pseudo elements :after and :before. ... You are literally adding text content to the page with CSS content, and .... li { display: list-item; list-style
/ .map
/   = javascript_include_tag '//api-maps.yandex.ru/services/constructor/1.0/js/?sid=LTMeQGWr3zpallaE3fBPUE4wvAfXwLGI&width=100%&height=450'




