%h2
  Контакты
%ul
  %li
    Санкт-Петербург ...
  %li
    телефон
  %li
    факс
  %li
    email
%p
  It can only be used with the pseudo elements :after and :before. ... You are literally adding text content to the page with CSS content, and .... li { display: list-item; list-style


