.index-page
  .column-one
    = image_tag "photo.png", :class => "rhomb-img"
    %em
      Рассказывает Михаил
      Громов, основатель и
      генеральный директор
  .column-two
    %h1
      Как мы работаем?
    %h4
      Традиционная стяжка пола имеет много
      недостатков, таких как высокая стоимость
      стяжечных работ, из-за трудоемкости процесса.
    %p
      Надоела проблема неровного пола? Наши специалисты выполнят заливку пола на высшем уровне! Заливка пола под ламинат и другое покрытие самовыравнивающейся смесью. 
      Одним из наиболее сложных этапов отделки помещений, является выравнивание пола или так называемая стяжка пола. Традиционная стяжка пола имеет много недостатков, таких как высокая стоимость стяжечных работ, из-за трудоемкости процесса. Так же традиционный способ стяжки пола характеризуется избыточной влажностью, при некачественной подготовке пола к стяжке, данные работы могут привести к протечкам на нижние этажи, к тому же, в процессе испарения жидкости, с уложенной стяжки пола, образуются поверхностные и внутренние дефекты пола. Кроме того, при традиционном выполнении стяжки пола, сроки выполнения стяжки могут быть достаточно продолжительными. 
  .column-three
    %h3
      Коротко о преимуществах
      полусухой стяжки пола:
    %ul
      %li
        %span.rhomb
          S
        %h1
          130 - 300 м2
        %p
          Производительность одной
          бригады за смену.
      %li
        %span.rhomb
          t
        %h1
          130 - 300 м2
        %p
          Производительность одной
          бригады за смену.
      %li
        %span.rhomb
          h
        %h1
          130 - 300 м2
        %p
          Производительность одной
          бригады за смену.

