%h2
  Услуги и цены
%h4
  Прайс на услугу по устройству полусухой цементно-песчаной стяжки пола
  (при толщине стяжки 50 мм):
.border-table
  %table
    %tbody
      %tr
        %th
          Площадь руководимых работ м&sup2;
        %th
          Стоимость м&sup2; в рублях
      %tr
        %td
          От 100 до 500
        %td
          600
      %tr
        %td
          От 501 до 1000
        %td
          500
      %tr
        %td
          От 1001 до 3000
        %td
          450
      %tr
        %td
          От 3001 до 5000
        %td
          400
      %tr
        %td
          От 5001 до 10000
        %td
          350
      %tr
        %td
          От 10001
        %td
          Цена договорная
%h4
  В стоимость 1 м&sup2; входит:
%ol
  %li
    Строительные материалы
    %ul
      %li
        цемент (М-400); 
      %li
        песок (морской намывной); 
      %li
        полиэтилен; 
      %li
        полипропиленовое фиброволокно; 
      %li
        полипропиленовые вставки. 
  %li
    Расходные материалы и амортизация оборудования.
  %li
    Выполняемые работы и производственные расходы: 
    %ul
      %li
        приготовление цементно-песчаного раствора, подача к месту работ и укладка (объемное армирование фибропропиленовым волокном из расчета 550 грамм на 1м3); 
      %li
        установка полипропиленовых вставок (между стяжкой, элементами каркаса здания и ограждающими конструкциями); 
      %li
        уход за стяжкой; 
      %li
        нарезка деформационных швов, с расчетом на проектное напольное покрытие; 
      %li
        геодезическое сопровождение работ; 
      %li
        подача электричества и воды к месту работы бетононасоса, при условии, что источники электроснабжения и водоснабжения находятся на строительной площадке не более 100 метров от места стоянки оборудования; 
      %li
        уборка строительного мусора после окончания работ.
%h4
  Аренда строительной техники
%ol
  %li
    пневмонагнетатели  BRINKMANN, PUTZMEISTER;
  %li
    затирочные машины.
%h4
  Стоимость аренды
%p
  Пневмонагнетатель (+100м. шлангов; + гаситель) 8000руб./сутки. 
  %br
  Затирочная машина 1500руб./сутки. 
  %br
  Услуги оператора  1000руб./смена