%h2
  Услуги и цены
.border-table
  %table
    %tbody
      %tr
        %th
          Площадь руководимых работ м&sup2;
        %th
          Стоимость м&sup2; в рублях
      %tr
        %td
          1000
        %td
          3000
      %tr
        %td
          1000
        %td
          3000
      