%h1
  Заголовок 1 уровня
%h2
  Заголовок 2 уровня
%h3
  Заголовок 3 уровня
%h4
  Заголовок 4 уровня
%p
  In publishing and graphic design, lorem ipsum is a placeholder text (filler text) commonly used to demonstrate the graphic elements of a document or visual.
  %strong
    выделено жирным
  %em
    выделено курсивом
%h4
  список ненумерованный
%ul
  %li
    элемент списка 1
  %li
    элемент списка 2
  %li
    элемент списка 3
  %li
    элемент списка 4
%h4
  список нумерованный
%ol
  %li
    элемент списка 1
  %li
    элемент списка 2
  %li
    элемент списка 3
  %li
    элемент списка 4