$blue: #367ab9
$black: #010101
$darkblue: #195587

body
  background: url('bg.jpg') white
  font: 100% "elektra_text_proregular"


// header styles
.header
  background-color: white
  text-align: center
  height: 150px
  font-size: 80%
  color: #222222
  min-width: 990px
  ul
    list-style-type: none
    height: 41px
  li
    padding-top: 2px
  a
    color: $black
    text-decoration: underline

  .header_logo
    padding-top: 40px
    display: inline-block
    vertical-align: top
    a
      height: 75px
      width: 290px

  .header-phone
    padding-top: 40px
    padding-left: 120px
    display: inline-block
    height: 100%
    text-align: left
    vertical-align: top
    ul
      background: url('phone.png') no-repeat
      padding-left: 25px
    span
      font-size: 130%

  .header-adress
    padding-top: 40px
    padding-left: 50px
    display: inline-block
    height: 100%
    text-align: left
    vertical-align: top
    ul
      background: url('point.jpg') no-repeat
      padding-left: 40px


// navigation styles
.nav
  background-color: $blue
  text-align: left
  font-size: 90%
  // width: 1000px
  ul
    margin: 0 auto
    width: 1000px
    padding: 10px
    li
      display: inline
      padding: 10px 0px
      &:hover
        background-color: $darkblue
      a
        color: white
        text-decoration: none
        padding: 10px 10px 10px 15px
        img
          margin-left: 2px


// content styles
.main
  background-color: white
  min-height: 300px
  box-shadow: 0px 2px 10px #999
  .container
    padding: 35px 0
    // width: 825px
    width: 1000px
    margin: auto


// sidemenu styles
.sidemenu
  display: inline-block
  vertical-align: top
  font-size: 90%
  width: 350px
  ul
    list-style-type: none
    padding: 0
    margin: 0
    ul
      padding-left: 20px
  a
    color: $black
    padding-right: 3px
    display: inline-block
    padding: 10px 15px 7px 15px
    text-decoration: none
    img
      margin-left: 2px
    &:hover
      color: $blue
  .selected
    background-color: $blue
    -webkit-border-radius: 7px
    -moz-border-radius: 7px
    border-radius: 7px
    color: white
    &:hover
      color: white
  .selected.has-submenu
    &:after
      content: url("strike.png")


// content styles
.content
  display: inline-block
  vertical-align: top
  padding: 0px 20px
  font-size: 80%
  line-height: 130%
  h1
    margin: 0px
    color: $blue
    font: 200% "elektra_text_probold"
  h2
    margin: 0px
    color: $blue
    font: 170% "elektra_text_probold"
  h3
    margin: 0px
    color: $blue
    font: 120% "elektra_text_probold"
  strong
    font: 120% "elektra_text_probold"
    // line-height: 120%
  em
    // font: 90% Arial
    font-style: italic
    // line-height: 120%
  p
    // font: 90% Arial
    margin: 15px 0 0
    // line-height: 120%



// index page styles
.slider
  width: 1000px
  height: 400px
  margin: auto
  padding-top: 35px
  padding-bottom: 45px
  .slider-img
    height: 100%
    width: 100%
    background-color: grey
    -webkit-border-radius: 100px
    -webkit-border-top-right-radius: 10px
    -webkit-border-bottom-left-radius: 10px
    -moz-border-radius: 200px
    -moz-border-radius-topright: 10px
    -moz-border-radius-bottomleft: 10px
    border-radius: 200px
    border-top-right-radius: 10px
    border-bottom-left-radius: 10px
.index-page
  *
    display: inline-block
    vertical-align: top
  .column-one
    width: 200px
    margin-right: 50px
    em
      padding: 10px 20px
  .column-two
    width: 400px
  .column-three
    width: 250px
    margin-left: 50px
    h1
      padding-top: 10px
    p
      padding-left: 52px
      margin: 0 0 15px 0
  .rhomb
    color: white
    font-size: 140%
    padding-top: 2px
    background: url('rhomb.png') no-repeat
    display: inline-block
    width: 42px
    height: 42px
    text-align: center
    line-height: 42px
    margin-right: 5px
  .rhomb-img

  ul
    padding: 0



// footer styles
.footer
  height: 50px
  font-size: 80%
  margin: 20px 0 0 400px