$blue: #367ab9
$black: #010101
$darkblue: #195587

body
  background: url('bg.jpg') white
  font: 100% "elektra_text_proregular"


// header styles
.header
  background-color: white
  text-align: center
  height: 150px
  font-size: 80%
  color: #222222
  min-width: 990px
  ul
    list-style-type: none
    height: 41px
  li
    padding-top: 2px
  a
    color: $black
    text-decoration: underline

  .header_logo
    padding-top: 40px
    display: inline-block
    vertical-align: top
    a
      height: 75px
      width: 290px

  .header-phone
    padding-top: 40px
    padding-left: 120px
    display: inline-block
    height: 100%
    text-align: left
    vertical-align: top
    ul
      background: url('phone.png') no-repeat
      padding-left: 25px
    span
      font-size: 130%

  .header-adress
    padding-top: 40px
    padding-left: 50px
    display: inline-block
    height: 100%
    text-align: left
    vertical-align: top
    ul
      background: url('point.jpg') no-repeat
      padding-left: 40px


// navigation styles
.nav
  background-color: $blue
  text-align: center
  font-size: 90%
  min-width: 825px
  ul
    margin: 0
    padding: 10px
    li
      display: inline
      padding: 10px 5px 10px 15px
      &:hover
        background-color: $darkblue
      a
        color: white
        text-decoration: none
        margin-right: 3px


// content styles
.main
  background-color: white
  min-height: 300px
  box-shadow: 0px 2px 10px #999
  .container
    padding-top: 35px
    width: 825px
    margin: auto


// sidemenu styles
.sidemenu
  background-color: red
  display: inline-block
  vertical-align: top

// content styles
.content
  background-color: green
  display: inline-block
  vertical-align: top


// footer styles
.footer
  height: 50px
  font-size: 80%
  margin: 20px 0 0 400px