.slider
  #banner-fade
    %ul.bjqs
      - Banner.all.each do |b|
        %li
          = image_tag b.image.url(:full).to_eu
          
:javascript
  jQuery(document).ready(function($) {
      $('#banner-fade').bjqs({
            height      : 400,
            width       : 996,
            responsive  : true
    });
  });