.header
  =link_to root_path, :class => "header_logo" do
    =image_tag "logo.jpg", :class => "logo-image", :width => "290", :height => "75"
  .header-phone
    %ul
      %li
        Телефон:
        %span
          8 (812) 448-53-77
      %li
        %a
          Заказать обратный звонок
  .header-adress
    %ul
      %li
        Санкт-Петербург, Итальянская ул. д. 2
      %li
        офис 505
        %a
          На карте
.nav
  %ul
    - @top_menu.each do |m|
      %li
        = link_to show_page_path(m.plug), :class => m.child_pages.empty? ? "" : "has-submenu" do
          = m.title