- unless items.empty?
  %ul
    - items.each do |item|
      %li
        = link_to show_page_path(item.plug), :class => params[:plug] == item.plug ? "selected" : '' do
          = item.title
          / = image_tag "strike.png"
        = render :partial => 'layouts/side_menu', :locals => {:items => item.child_pages}