.sidemenu
  %ul
    %li
      %span.item-selected
        %a
          Чистовая отделка
        = image_tag "strike.png", :class => "nav_strike"
      %ul
        %li
          %span
            %a
              Шпаклевка
        %li
          %span
            %a
              Обои
        %li
          %span
            %a
              Штукатурка
    %li
      %span
        %a
          Наружная отделка
